version: "3.9"

services:
  app:
    build: .
    image: ci-cd-test
    container_name: ci_cd_app
    ports:
      - "8081:80"
    env_file:
      - .env
    profiles:
      - dev

  app-prod:
    image: anonymousdev56/ci-cd-test:latest
    container_name: ci_cd_app_prod
    ports:
      - "80:80"
    env_file:
      - .env
    profiles:
      - prod
