name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t ci-cd-test .

      - name: Run unit tests
        run: |
          docker run --rm ci-cd-test pytest

      - name: Run container and healthcheck
        run: |
          docker run -d -p 8080:80 --name test_app ci-cd-test
          sleep 5
          curl -f http://localhost:8080
          docker stop test_app
