name: CI with Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t ci-cd-test .

      - name: Run container and test
        run: |
          docker run -d -p 8080:80 --name test_app ci-cd-test
          sleep 5
          curl -f http://localhost:8080 || exit 1
          docker stop test_app
